/*
 * Vendor
 */
$fa-font-path: "~@sparkpost/styles/src/assets/fonts";
@import "~@sparkpost/styles/src/assets/scss/vendor/normalize";
@import url("//cloud.typography.com/6240112/781206/css/fonts.css");
@import "~@sparkpost/styles/src/assets/scss/vendor/fa/font-awesome";

/*
 *  Shared
 *  These are global vars and functions - does not compile into css
 */
@import "~@sparkpost/styles/src/assets/scss/shared/config";
@import "~@sparkpost/styles/src/assets/scss/shared/functions";

/*
 *  Base
 */
@import "~@sparkpost/styles/src/assets/scss/foundation/base";
@import "~@sparkpost/styles/src/assets/scss/foundation/grid";
@import "~@sparkpost/styles/src/assets/scss/foundation/typography";
@import "~@sparkpost/styles/src/assets/scss/foundation/helpers";

/*
 *  Components
 *  These can be imported within react components
 */
@import "~@sparkpost/styles/src/assets/scss/components/panel";
@import "~@sparkpost/styles/src/assets/scss/components/button";
@import "~@sparkpost/styles/src/assets/scss/components/table";
@import "~@sparkpost/styles/src/assets/scss/components/formelements";
@import "~@sparkpost/styles/src/assets/scss/components/popover";

html {
  background: grayscale(9);
  @media screen and (min-width: break(xl)) {
    font-size: 20px;
  }
}

a { 
  cursor: pointer;
}

.text--mustard {
  color: color(mustard);
}

.text--green {
  color: color(green);
}

.panel {
  position: relative;
  
  &__overlay {
    background: rgba(#FFF, .8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
  }

  &__lock {
    color: grayscale(3);
    font-size: rem(70);
  }

}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: break(xl);

  &--content {
    padding: rem(30) 0;

    min-height: 0;
    @media screen and (min-width: break(md)) {
      padding: rem(60) 0;
      min-height: 70vh;
    }
  }
}
